<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 10 years of experience as a software engineer, and have worked
            at both small companies and large organizations. While I'm a proficient full-stack
            developer, my expertise is in building scalable backend services (API services, micro services, 
	    stream processing, and async mechanisms).
        </p>
        <p>
           I love building things and the pride of seeing a finished project.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a real world business justification.
           I'm looking for a senior individual contributor role where I can take on on collaborative
           team leadership responsibilites, and gain experience with
           architecture and project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
			 <li>
            Led team to successfully deliver Product Increment 1 and UAT environment on time with additional changes per customer needs.
    			</li>
    			<li>
            Created a brand new Ruby on Rails API and Vue app for enterprise level. Scalable to multiple customers and uses.
            services hosted on AWS in K8s.
    			</li>
			<li>
            Created a node microservice(API) to be used for PDF and html generation utilizing handlebars
            services hosted on AWS in K8s.
    			</li>
          		<li>
            Presented research and proof-of-concept to convince team to move from Quasar to Nuxt/Vuetify javascript framework; reduced overall development time and removed dependency on an internal library.
			    </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
