<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
          I’m an engineering leader with a passion for developing innovative solutions and 
          mentoring others. I love developing and architecting, but my passion is to use my 
          technology experience to find new ways to unlock new potential opportunities and share 
          knowledge along the way. As a leader, I intend to be consistent, persistent and insistent 
          on quality standards of development.  While I'm a proficient full-stack
          developer, my expertise is in building scalable backend services (API services, micro services, 
	    stream processing, and async mechanisms).
        </p>
        <p>
           I love building things and the pride of seeing a finished project.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with tangible business justification.
           I'm looking to continute to collaborate and contribute in a development role where I can lead 
           a team through example and dedication to quality code standards.
           
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
          <li>
            Certified Amazon Web Services Solutions Architect Associate (2021)
    			</li>
          <li>
            Led entire organization update to .net 6.0 including paving the way for other teams by updating libraries and other standards across the board for AWS implemented API's and lambdas.
    			</li>
			 <li>
            Led team to successfully deliver Product Increment 1 and UAT environment on time with additional changes per customer needs.
    			</li>
    			<li>
            Created a brand new Ruby on Rails API and Vue app for enterprise level. Scalable to multiple customers and uses.
            services hosted on AWS in K8s.
    			</li>
			<li>
            Created a node microservice(API) to be used for PDF and html generation for invoices utilizing handlebars
            services hosted on AWS in K8s.
    			</li>
          		<li>
            Presented research and proof-of-concept to convince team to move to Nuxt/Vuetify javascript framework; reduced overall development time and removed dependency on an internal library.
			    </li>
		    </ul>
	    </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 style="margin-top:0;">Programming Technologies</h3>
        <p>Git, .Net Core, AWS Development and Architecture, Object Oriented Development & Design, PL/SQL, SQL/NoSQL Database Design, Test Driven Development, Ruby, Ruby on Rails Javascript, JQuery, XQuery, Python, REST Web Services, Perl, Vue.js, Nuxt, Vuetify
          OS - Windows, Linux, OSX</p>
      </div>
    </div>
  </div>
</section>
