<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <h3 style="margin-top:0">My personal interests include:</h3>
			<ul>
			  <li>
				 <b>Python</b>. I am working with my 10 year old son at home learning Python as his first language.  I'm working through several online classes, along with him.
			  </li>
			  <li>
				  <b>Home Server</b>. In the last year, I have installed a home server and Plex as well as a mesh Wifi system. I am delving into the world of dns and server architecture.
			  </li>
			  <li>
				  <b>Running</b>. I ran the Disney Marathon in January of 2016 and currently like to run half marathons. I enjoy running with my oldest son as well.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Other Things</h3>
  		    <ul>
  			<li>
           Regularly Volunteer at Harvesters Community Food Network
  			</li>
  			<li>
  			  Actively working towards AWS Certified Solutions Architect Professional Certification.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
